tr.transType-deposit td {
	background-color: paleGreen !important;
}

tr.transType-transfer td {
	background-color: khaki !important;
}

tr.transType-credit td {
	background-color: paleGreen !important;
}

tr.transType-bankcharge td {
	background-color: lightPink !important;
}

/* hide cardlytics transaction offers */
.cardlytics-transaction-offer {
  display: none;
}